<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>About page</h1>

    <p>eum quae, blanditiis nulla hic? Cupiditate, odio blanditiis corporis consectetur ut labore voluptas quas dolores
        tempore laboriosam beatae pariatur, quasi inventore rem magnam vero obcaecati sint cum quia nam aliquid.
        Asperiores, sit? Distinctio ea quae exercitationem excepturi quas eveniet illum? Nam totam repudiandae quo
        exercitationem itaque dolorem magnam labore, quae laboriosam odit ratione voluptas maiores est optio architecto
        aliquid inventore doloribus consequatur, ex temporibus minus facere aperiam! Ut quis debitis sunt nobis
        temporibus doloribus accusamus, voluptates sed aut aliquam alias cupiditate qui illum voluptatum ex eius. Enim
        distinctio recusandae eveniet blanditiis tempore porro voluptatem magni voluptas, incidunt perferendis itaque
        ducimus expedita accusamus vel sint ut corrupti id, aperiam aliquam beatae neque adipisci asperiores sed quos!
        Exercitationem, officiis aperiam vel quidem autem atque possimus error tenetur laboriosam harum, explicabo, hic
        perferendis laudantium</p>
        <img src="https://www.seiu1000.org/sites/main/files/main-images/camera_lense_0.jpeg" width="300px" height="200px"/>
</body>
</html>